# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Databases & Runtime State
*.sqlite
*.sqlite-shm
*.sqlite-wal
home/*.sqlite*
home/installation_id
home/.tmp/
home/tmp/

# Temp & OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.tmp
.DS_Store

# Git ignore exceptions
!runtime/
!extension/
